.grid-container{
    display:grid
}

.chef-card-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 15px;
}

.sub-nav{
    height: 40px;
    width: 100%;
}

.sub-nav .map-marker-icon .fa-map-marked-alt{
    font-size: 30px;
}

.sub-nav .map-marker-icon .fa-th{
    font-size: 30px;
}

.toggle-hide-content{
    display: none;
}

.toggle-single-column{
    grid-template-columns: 1fr;
}

.toggle-half-width{
    width: 50%;
}

.toggle-display-block{
    display: block;
}

.toggle-flex{
    display: flex
}

.map-container{
    height: 100vh;
    align-self: flex-start;
    top: 0;
}