.dashboard-grid-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.following-chef-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.chef-full-name{
    font-size: 12px;
    display: block;
    color: black;
}

.chef-restaurant{
    font-size: 12px;
}




