// Specific CSS for your home-page

.homepage-banner {
  height: 87vh;
  width: 100%;
  background-size: cover;
  background-image: linear-gradient(rgba(255, 183, 4, 0.3), rgba(0,0,0,0.3)), url("https://images.pexels.com/photos/3298637/pexels-photo-3298637.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  display: flex;
  justify-content: center;
}

.hp-main-container {
  padding-bottom: 50px;
}

.home-banner-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-title {
  color: white;
  font-size: 62px;
}

.search-bar-input {
  flex-grow: 1;
}

#form {
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 500px;
  padding: 40px;
  position: relative;
}

.form-control-for-hp {
  border-radius: 50px;
  height: 60px;
  font-size: 20px;
  padding: 0 20px;
}

.icon-search a {
  background-color: rgb(250, 183, 6);
  border-radius: 50px;
  border: #FFB703;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-search {
  position: absolute;
  right: 50px;
  border: none;
  background: none;
  top: 50%;
  transform: translateY(-50%);
}

.btn-chefit {
  color: black;
  padding: 8px 24px;
  border-radius: 16px;
  background: #FFB703;
  transition: background 0.3s ease;
  font-size: 20px;
  margin-bottom: 30px;
}

.btn-chefit:hover {
  background: #FFC65A;
  color: rgb(25, 29, 14);
}

.arrow-hp {
  color: white;
}

.hp-link-to-customize a {
  text-decoration: none;
}

input:focus {
    outline: none;
    background: white;
}

input {
  background: white;
}


input[type=text]:active, input[type=text]:focus {
  background-color: white;
}





.homepage-container {
  margin: 120px 200px 0px 200px;
  padding-left: 30px;
}

.h2-hp {
  font-size: 38px;
}

.homepage-cards {
  display: flex;
  margin-bottom: 120px;
}

.hp-card-title {
  text-decoration: none;
  color: black;
}

.hp-card-title:hover {
  color: $primary;
}

.homepage-card {
  margin-right: 10px;
}

.homepage-card-image {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
  radius: 25px;
  border-radius: 16px;
}

.text-call-actopm-cards {
  text-align: left;
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: bold;
}

.chef-yellow {
  color: rgb(255, 183, 4);
}

.chef-names {
  font-size: 20px;
  font-weight: bold;
}

.call-actions-cards-fit img {
  object-fit: cover;
  border-radius: 16px;
}

