.menu-container{
    height: 70vh;
    margin-bottom: 20px;
    padding: 0 20px;
}

.left-hand-column,
.left-hand-column{
    height: 60vh;
}

.menu-card{
    height: 60vh
}

.row-chef-menu{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.menu-image-main{
    width: 60%;
    height: 150px;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}

.menu-image-menu{
    width: 80%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    margin: 0 auto; 
}

.chefs-note{
    font-size: 0.5rem;
}

.grid-container-menu{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.chef-image-menu{
    width: 80%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

.link-container-menu{
    width: 80%
}

.price-span{
    font-size: 10px
}

.overflow-scroll{
    overflow: scroll;
}

.signiture-menu{
    font-size: 10px;
}