.menu-thumbnail{
    width: 100%;
    height: 150px;
    background-size: cover;
    background-position: center;
}

#additional-padding-menus {
  padding-top: 70px;
}

.menu-chef-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
