.followers-styling {
  margin-left: 60px;
  font-family: Roboto;
  font-size: 14px;
}

.menu-container{
  padding: 55px 65px;
  width: 60%;
}

.left-hand-column,
.left-hand-column{
    height: 60vh;
}

.menu-card{
    height: 60vh
}

.row-chef-menu{
  box-shadow: 0px 0px 30px 15px #c9c9c9;
  border-radius: 16px;
  overflow: hidden;
}

.menu-image-main{
    width: 60%;
    height: 150px;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}

.menu-image-menu{
    width: 80%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}

.bg-info-menu {
  background-color: #F5F5F6;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.border-radius-extra-styling {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.chefs-note{
    font-size: 0.5rem;
}

.grid-container-menu{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.chef-image-menu{
    width: 80%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

.link-container-menu{
    width: 80%
}

.price-span{
    font-size: 10px
}

.overflow-scroll{
    overflow: scroll;
}

.signiture-menu{
    font-size: 10px;
}
