<div class="bookings-container d-flex">
    <div class="booking-container-card m-auto w-50" >
        <% @bookings.each do |booking|%>
           <div class="booking-card d-flex">
              <div class="booking-date-time">
                <p>Date: <%= booking.start_date %></p>
                <p>Time: <%= booking.start_time %></p>
              </div>
                
                <%= link_to chef_path(booking.restaurant.main_chef) do %>
                <p>Restaurant:<strong><%= booking.restaurant.name %></strong></p>
                <% end %>
           </div>
        <% end %>
    </div>
</div>