<div class="main-container-booking">
    <div class="booking-background-img">
        <div class="pt-20">
            <div class="container-booking-form">
                <div class="booking-menu-title">Book a table</div>
                <div class="booking-form" >
                    <%= simple_form_for [@restaurant, @booking] do |f| %>
                    <div id="booking-form-year"><%=  f.input :start_date, as: :date, label: false %></div>
                    <div id="booking-form-date"><%= f.input :start_time, collection: Booking::TIMES, label: false %></div>
                    <div id="booking-form-submit"><%= f.submit "Book Restaurant", class:"btn btn-primary"%></div>
                    <%  end %>
                </div>
            </div>
        </div>
    </div>
</div>