<div class='navbar-lewagon'>
  <div class='container-home-daan'>
    <div class='home-icon'>
      <%= link_to root_path do  %>
      <i class="fas fa-utensil-spoon fa-2x" ></i>
      <% end %>
      <img src="">
      <div class='home-navbar-text'><h3><strong>Chef's plate</strong></h3></div>
    </div>


      <div class="nav-item">
        <%= "menu" %>

        <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://i.pinimg.com/originals/09/a5/c8/09a5c8eb3920af9cf2774c009a7b0d54.jpg" width="43" height="46"/>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        </div>

      </div>
  </div>
</div>

