<div class='navbar-lewagon'>
  <div class='container-home-daan'>
    <div class='home-icon'>
        <%= link_to root_path do  %>
        <%= image_tag("chef-icon.png", class: "chef-hat") %>
        <% end %>
        <div class='home-navbar-text'><h3><strong>Chef's plate</strong></h3></div>
    </div>

      <div class="nav-item">
        <a class="navbar-toggler" role="button" data-toggle="collapse" data-target="#navbarBrowseButton">
          <span class="navbar-toggler-icon text-center">
            <i class="fas fa-bars"></i>
          </span>
        </a>
        <div class="home-icon2">
          <img class="avatar-home"  src="https://i.pinimg.com/originals/09/a5/c8/09a5c8eb3920af9cf2774c009a7b0d54.jpg" />
        </div>
      </div>
  </div>
</div>

