<div class="hp-main-container">

  <div class="homepage-banner d-flex align-items-end">
    <div class='home-banner-container-text'>
      <h1 class="h1-hp">Connect with the most inspirational chefs of today</h1>

    <div class="hp-form">
      <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
        <div class="search-form-control form-group">
          <input type="text" name="search[query]" id="search_query" placeholder="Search location..." />
          <button name="button" type="submit" class="btn btn-flat">
            <i class="fas fa-search"></i> Search
          </button>
        </div>
      </form>
    </div>

  </div>
</div>

<div class="homepage-container">
  <h2 class ="h2-hp"><strong>Discover top inspirational chefs</strong></h2>
  <div class="homepage-cards">

    <div class="homepage-card" style="width: 18rem;">
      <div class="homepage-card-image" style="background-image: url('https://images.pexels.com/photos/3814446/pexels-photo-3814446.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')"></div>
      <div class="card-body">
        <h6 class="card-title">Steve Scoullar The IVY - New York</h6>
      </div>
    </div>

    <div class="homepage-card" style="width: 18rem;">
      <div class="homepage-card-image" style="background-image: url('https://images.pexels.com/photos/2102934/pexels-photo-2102934.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')"></div>
      <div class="card-body">
        <h6 class="card-title">David Stevens The Wolsely - London</h6>
      </div>
    </div>

    <div class="homepage-card" style="width: 18rem;">
      <div class="homepage-card-image" style="background-image: url('https://images.pexels.com/photos/4457124/pexels-photo-4457124.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')"></div>
      <div class="card-body">
        <h6 class="card-title">Christian Turner The Delaunay - London</h6>
      </div>
    </div>

    <div class="homepage-card" style="width: 18rem;">
      <div class="homepage-card-image" style="background-image: url('https://images.pexels.com/photos/2494659/pexels-photo-2494659.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')"></div>
      <div class="card-body">
        <h6 class="card-title">Sascha Rieb Colbert - London</h6>
    </div>
  </div>
</div>
</div>

<div class="call-to-action-container">
  <h2 class="h2-call-to-action h2-hp"><strong>Discover top inspirational chefs</strong></h2>
  <div class="call-to-action-cards">

    <div class="call-to-action-card">
      <div class="call-to-action-image" style="background-image: url('https://images.pexels.com/photos/3814446/pexels-photo-3814446.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')"></div>
      <div class="call-to-action-text">
        <p class="align-text-right"><strong>Explore the inspirations of the <br> chefs and the creative process <br> behind the menu and ingredients</strong></p>
      </div>
    </div>

    <div class="call-to-action-card">
      <div class="call-to-action-text">
        <p><strong>Experience the story and mission <br> behind the chef</strong></p>
      </div>
      <div class="call-to-action-image" style="background-image: url('https://images.pexels.com/photos/2102934/pexels-photo-2102934.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')"></div>
    </div>

    <div class="call-to-action-card">
      <div class="call-to-action-image" style="background-image: url('https://images.pexels.com/photos/4457124/pexels-photo-4457124.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')"></div>
      <div class="call-to-action-text">
        <p class= "align-text-right"><strong>Discover their cooking tips and <br> signature dishes recipes</strong></p>
      </div>
    </div>

    <div class="call-to-action-card">
      <div class="call-to-action-text">
        <p><strong>Try personal reccomendations <br> from the chefs themselves</strong></p>
      </div>
      <div class="call-to-action-image" style="background-image: url('https://images.pexels.com/photos/2494659/pexels-photo-2494659.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')"></div>
      </div>
    </div>

  </div>
</div>
