<div class="hp-main-container">

  <div class="homepage-banner d-flex align-items-end">
    <div class='home-banner-details'>
      <h1 class="banner-title">Connect with the most inspirational chefs of today</h1>
        <div id="form">
          <input class="form-control w-100" type="search" placeholder="Search location...">
          <button><i class="fas fa-search"></i></button>
        </div>
      <a class="btn btn-chefit" href="#">Chef it out!</a>
    </div>
  </div>

<div class="homepage-container">
  <h2 class ="h2-hp"><strong>Discover top inspirational chefs</strong></h2>
  <div class="homepage-cards">

    <div class="homepage-card" style="width: 18rem;">
      <div class="homepage-card-image" style="background-image: url('https://images.pexels.com/photos/3814446/pexels-photo-3814446.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')"></div>
      <div class="card-body">
        <h6 class="card-title"><span class="chef-names">Steve Scoullar</span> <br> The IVY, New York</h6>
      </div>
    </div>

    <div class="homepage-card" style="width: 18rem;">
      <div class="homepage-card-image" style="background-image: url('https://images.pexels.com/photos/2102934/pexels-photo-2102934.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')"></div>
      <div class="card-body">
        <h6 class="card-title"><span class="chef-names">David Stevens</span> <br> The Wolsely  London</h6>
      </div>
    </div>

    <div class="homepage-card" style="width: 18rem;">
      <div class="homepage-card-image" style="background-image: url('https://images.pexels.com/photos/4457124/pexels-photo-4457124.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')"></div>
      <div class="card-body">
        <h6 class="card-title"><span class="chef-names">Christian Turner</span> <br> The Delaunay, London</h6>
      </div>
    </div>

    <div class="homepage-card" style="width: 18rem;">
      <div class="homepage-card-image" style="background-image: url('https://images.pexels.com/photos/2494659/pexels-photo-2494659.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')"></div>
      <div class="card-body">
        <h6 class="card-title"><span class="chef-names">Sascha Rieb Colbert</span> <br> The cordon bleu, London</h6>
    </div>
  </div>
</div>
</div>

<div class="call-to-action-container">
  <h2 class="h2-call-to-action h2-hp"><strong>Discover top inspirational chefs</strong></h2>
  <div class="call-to-action-cards">

    <div class="call-to-action-card">
      <div class="call-to-action-image" style="background-image: url('https://images.pexels.com/photos/3814446/pexels-photo-3814446.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')"></div>
      <div class="call-to-action-text">
        <p class="align-text-right"><strong>Explore the <span class="chef-yellow">inspirations</span> of the <br> chefs and the <span class="chef-yellow">creative proces</span> <br> behind the menu and ingredients</strong></p>
      </div>
    </div>

    <div class="call-to-action-card">
      <div class="call-to-action-text">
        <p><strong>Experience the <span class="chef-yellow">story</span> and <span class="chef-yellow">mission</span> <br> behind the chef</strong></p>
      </div>
      <div class="call-to-action-image" style="background-image: url('https://images.pexels.com/photos/2102934/pexels-photo-2102934.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')"></div>
    </div>

    <div class="call-to-action-card">
      <div class="call-to-action-image" style="background-image: url('https://images.pexels.com/photos/4457124/pexels-photo-4457124.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')"></div>
      <div class="call-to-action-text">
        <p class= "align-text-right"><strong>Discover their cooking <span class="chef-yellow">tips</span> and <br> signature dishes recipes</strong></p>
      </div>
    </div>

    <div class="call-to-action-card">
      <div class="call-to-action-text">
        <p><strong>Try personal <span class="chef-yellow">reccomendations</span> <br> from the chefs themselves</strong></p>
      </div>
      <div class="call-to-action-image" style="background-image: url('https://images.pexels.com/photos/2494659/pexels-photo-2494659.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')"></div>
      </div>
    </div>

  </div>
</div>
