  <div class="homepage-banner d-flex align-items-end">
    <div class='home-banner-container-text'>
        <h1 class="banner-h1">Discover the story behind the plate</h1>
      </div>
  </div>

<div class="container-homepage">
  <h2><strong>Discover top inspirational chefs</strong></h2>
  <div class="homepage-cards">

    <div class="homepage-card" style="width: 18rem;">
      <div class="homepage-card-image" style="background-image: url('https://images.pexels.com/photos/3814446/pexels-photo-3814446.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')"></div>
      <div class="card-body">
        <h6 class="card-title">Steve Scoullar The IVY - New York</h6>
      </div>
    </div>

    <div class="homepage-card" style="width: 18rem;">
      <div class="homepage-card-image" style="background-image: url('https://images.pexels.com/photos/2102934/pexels-photo-2102934.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')"></div>
      <div class="card-body">
        <h6 class="card-title">David Stevens The Wolsely - London</h6>
      </div>
    </div>

    <div class="homepage-card" style="width: 18rem;">
      <div class="homepage-card-image" style="background-image: url('https://images.pexels.com/photos/4457124/pexels-photo-4457124.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')"></div>
      <div class="card-body">
        <h6 class="card-title">Christian Turner The Delaunay - London</h6>
      </div>
    </div>

    <div class="homepage-card" style="width: 18rem;">
      <div class="homepage-card-image" style="background-image: url('https://images.pexels.com/photos/2494659/pexels-photo-2494659.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')"></div>
      <div class="card-body">
        <h6 class="card-title">Sascha Rieb Colbert - London</h6>
    </div>
  </div>
</div>



<h2>Discover top inspirational chefs</h2>
<p>Explore the inspirations of the chefs and the creative process behind the menu and ingredients</p>
<p>Experience the story and misson behind the chef</p>
<p>Discover their cooking tips and signature dishes recipes</p>
<p>Try personal reccomendations from the chefs themselves</p>
