<div class="container">
    <h1 class="text-info">Welcome back <%= current_user.email.split('@')[0].capitalize %><span class="text-primary">...</span></h1>
    <div class="dashboard-grid-container p-5">
        <div class="icon-column">
            <div class="">
                <i class="fas fa-info-circle display-4 text-info"></i>
            </div>
           <div class="">
            <i class="fas fa-heart display-4 mt-5 text-info"></i>
           </div>
            <div class="">
                <%= link_to bookings_path do %>
                  <i class="far fa-calendar-alt display-4 mt-5 text-info"></i>
                <% end %>
            </div>
        </div>
        <div class="following-chef-grid">
            <% @followers.each do |follower| %>
            <% if follower.user_id == current_user.id  %>
            <% end  %>
            <% end  %>
        </div>
    </div>
</div>

