.booking-card{
    width: 80%;
    height: 120px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin: 8px;
    align-items: baseline;
    justify-content: space-between;
}

.booking-card-restaurant {
    width: 25vh;
}