#post-header-restyling {
  margin-left: 20px;
  font-size: 30px;
  font-family: Roboto;
  padding-top: 12px;
  border-bottom: 1px solid lightgrey;
  width: 80%;
}

.post-card-details {
    margin: 20px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 16px;
    height: 148px;
    overflow: hidden;
}

#center-chef-name {
  text-align: center;
  font-weight: bold;
  font-family: Parisienne;
  font-size: 20px;
}

.post-card-description {
    padding-right: 15px;
    font-size: 14px;
    font-family: Roboto;
    flex-grow: 1;
}

.post-card-description p {
    font-size: larger;
}

.post-links {
    width: 20%;
    margin: 70px 20px 0 50px;
    justify-content: center;
}

.post-menu-links {
    width: 100%;

}

.post-card-image {
  width: 27%;
  height: 100%;
  object-fit: cover;
  margin-right: 30px;
  border-radius: 16px 0 0 16px;
}

.post-card-posted p {
  margin: 0px;
  font-size: 12px;
}

#postedon-styling {
  text-align: right;
  font-size: 14px;
  color: #393e46;
  margin-bottom: 0;
}

.container-post-card-items {
  margin-left: 30px;
  margin-top: 15px;
}

.post-card-date-description {
  width: 70%;
  height: 100%;
  padding: 5px 20px 15px;
  display: flex;
  flex-direction: column;
}

#chef-profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 16px;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

#posts-links {
  width: fit-content;
  color: #191d0e;
}

#posts-list-menu {
  padding-top: 70px;
}

.chef-posts-grid {
  display: flex;
}

