.post-card {
    margin: 20px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 16px;
    height: 200px;
    overflow: hidden;

}

#center-chef-name {
  text-align: center;
  font-weight: bold;
}

.post-card-description {
    padding-right: 15px;
    font-size: 17px;
}

.post-card-description p {
    font-size: larger;
}

.post-links {
    width: 20%;
    margin: 70px 20px 0 50px;
    justify-content: center;
}

.post-menu-links {
    width: 100%;

}

.post-card-image {
    width: 30%;
    height: 100%;
    object-fit: cover;
    margin-right: 30px;
    border-radius: 16px 0 0 16px;
}

.post-card-posted {
    text-align: left;
    font-weight: bold;
    padding-right: 25px;
    padding-bottom: 10px;
}

.container-post-card-items {
    margin-left: 30px;
    margin-top: 50px;
}

.post-card-date-description {
    width: 70%;
    height: 90%;
    padding: 20px;
}

#chef-profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 16px;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

#posts-links {
    width: fit-content;
    color: #191d0e;
}

#posts-list-menu {
  padding-top: 70px;
}

.chef-posts-grid {
  display: flex;
}
