.chef-card{
    width: 100%;
    height: auto;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.chef-card-img{
    width: 33%;
    height: 150px;
    background-size: cover;
    background-position: center;
    margin-right: 5px;
}

.chef-card-img-container{
    display: flex
}

.chef-card i:hover{
    font-size: 20px;
}

.location-name{
    font-size: 10px;
}

.chef-card a { color: inherit; }

a:hover {
  text-decoration: none;
  color: $primary;
}
