.chef-card{
    width: 100%;
    height: 45vh;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.chef-card-img{
    width: 33%;
    height: 130px;
    background-size: cover;
    background-position: center;
    margin-right: 5px;
}

.chef-card-img-container{
    display: flex
}

.chef-card i:hover{
    font-size: 20px;
}
